* {
    margin: 0px; 
}

.header {
    background-color: rgb(103, 103, 180);
    text-align: center;
    padding: 25px;
}

.text {
    text-align: center;
    padding: 25px;
}

/*.article .product-list {
    padding-left: 0px;
    list-style: none;
}

.article .product-list .item {
    margin: 1%;
    height: 500px;
    background-color: rgb(235, 230, 226)
}

.article .product-list .item img {
    width: 200px;
} 

.article .product-list .item .product-content {
    padding: 2%;
}*/

.products .product-list {
    padding-left: 0px;
    list-style: none;
}

.products .product-list .product {
    margin: 1%;
    height: 500px;/* Undersök inställningen height beträffande buttons */
    background-color: rgb(240, 231, 231);
}

.products .product-list .product img {
    width: 240px;
}

.products .product-list .product .product-content { /* Justera denna syntax för att centrera text under bilder */
    padding: 2%;
}

.products .product-list .product .product-content small {
    font-size: 14px;
}

.products .product-list .product button {
    display: block;
    margin: 2% auto;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 15px;
    outline: none;
}

.footer {
    background-color: rgb(103, 103, 180);
    bottom: 0%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.column {
    margin: 10px;
}


